---
description: "The terms and conditions that apply when you work with Shoreline Web Design."
pageHero:
  topper: "Legal"
  title: "Terms and conditions"
  accent: "."
  text:
    - "The terms that apply when you work with Shoreline Web Design."
eleventyComputed:
  title: "{{ page.fileSlug | titleCase }} | {{ client.name }} | {{ client.address.city }}, {{ client.address.state }}"
  permalink: "/{{ page.fileSlug | slugify }}/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/{{ page.fileSlug }}.css">
{% endblock %}

{% block body %}

    {% include "sections/page-hero.html" %}

    <!-- Terms content to come. -->

{% endblock %}
