/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services {
        padding: var(--sectionPadding);
        background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/chevron-pattern-light1.svg");
        background-size: auto;
        background-position: center;
        background-repeat: repeat;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (800/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            max-width: (650/16rem);
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-title,
        .cs-text {
            max-width: 100%;
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: (30/16rem);
        }

        .cs-item {
            width: 100%;
            text-align: left;
            list-style: none;
            /* margin top value to match the negative margin value of the .cs-icon-wrapper */
            margin: (44/16rem) 0 0 0;
            /* 24px - 64px bottom */
            /* 24px - 40px left & right */
            padding: 0 clamp(1.5rem, 4vw, 2.5rem) clamp(1.5rem, 6vw, 4rem);
            background-color: #f7f3ee;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            grid-column: span 12;
            grid-row: span 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            position: relative;
            z-index: 1;

            &:hover {
                .cs-h3 {
                    color: var(--bodyTextColorWhite);
                }
                .cs-item-text {
                    color: var(--bodyTextColorWhite);
                    opacity: 0.9;
                }
                .cs-background {
                    opacity: 1;
                }
            }
        }

        .cs-icon-wrapper {
            width: (88/16rem);
            height: (88/16rem);
            margin: (-44/16rem) auto (32/16rem) 0;
            background-color: var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            left: ~"calc(clamp(1.5rem, 4vw, 2.5rem)*-1)";
        }

        .cs-icon {
            width: (40/16rem);
            height: auto;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: bold;
            text-align: inherit;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            max-width: (300/16rem);
            margin: 0 0 (32/16rem) 0;
            padding: 0;
            color: var(--bodyTextColor);
        }

        .cs-link {
            text-decoration: none;
            font-size: (16/20rem);
            line-height: 1.2em;
            font-weight: bold;
            margin: 0;
            padding: 0;
            color: var(--primary);
            position: relative;
            transition: color 0.3s;

            &:hover {
                color: #fff;
            }

            &:before {
                /* underline */
                content: "";
                width: 100%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: (0/16rem);
                left: 0;
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            opacity: 0;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: opacity 0.3s;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #1a1a1a;
                opacity: 0.84;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }

        .cs-waves {
            width: 100%;
            height: (222/16rem);
            background-color: var(--primary);
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            column-gap: (30/16rem);
        }

        .cs-item {
            grid-column: span 6;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services {
        .cs-item {
            grid-column: span 4;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services {
            background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/chevron-pattern-light2.svg");
            background-size: auto;
            background-position: center;
            background-repeat: repeat;
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.9;
            }

            .cs-item {
                background-color: var(--medium);
            }
        }
    }
}



/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #about {
        padding: var(--sectionPadding);
        background-color: #fefcf4;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (704/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 4vw, 4rem);
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size: ~"min(1.98vw, .826rem)";
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: (738/16em);
            height: (578/16em);
            order: -1;
            position: relative;
            z-index: 1;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-picture {
            width: 100%;
            height: 100%;
            border: (16/16em) solid var(--bodyTextColorWhite);
            display: block;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }

        .cs-picture-wrapper1 {
            width: (412/16em);
            height: (457/16em);
            display: flex;
            flex-direction: column;
            gap: (16/16rem);
            position: absolute;
            top: 0;
            left: 0;
        }

        .cs-picture-wrapper2 {
            width: (413/16em);
            height: (474/16em);
            display: flex;
            flex-direction: column-reverse;
            gap: (16/16rem);
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .cs-tag {
            /* 14px - 24px */
            font-size: clamp(0.875rem, 1.4vw, 1.5rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: center;
            color: var(--headerColor);
        }

        .cs-arrow {
            width: (148/16em);
            height: (54/16em);
            position: absolute;
            top: (242/16em);
            left: (255/16em);
            transform: rotate(30deg);
        }

        .cs-content {
            /* set text align to center if content needs to be centrally aligned */
            text-align: left;
            width: 100%;
            max-width: (586/16rem);
            display: flex;
            flex-direction: column;
            /* aligns content to the left, set to center to centrally align */
            align-items: flex-start;
        }

        .cs-title {
            max-width: 30ch;
        }

        .cs-text {
            margin-bottom: (16/16rem);

            &:last-of-type {
                margin-bottom: (24/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: 0;
            padding: 0 (24/16rem);
            background-color: var(--primary);
            color: var(--headerColor);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: (4/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-h3 {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.5em;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-ul {
            margin: (12/16rem) 0 (32/16rem);
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: (12/16rem);
        }

        .cs-li {
            font-size: (16/16rem);
            line-height: 1.5em;
            list-style: none;
            /* 20px - 24px */
            padding-left: clamp(1.25rem, 3vw, 1.5rem);
            color: var(--bodyTextColor);
            position: relative;

            strong {
                color: #1a1a1a;
            }

            &::before {
                content: "";
                width: (8/16rem);
                height: (8/16rem);
                margin-top: (8/16rem);
                background-color: var(--secondary);
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                transform: rotate(45deg);
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #about {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-image-group {
            order: initial;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #about {
        .cs-container {
            flex-direction: row;
            align-items: stretch;
        }

        .cs-image-group {
            font-size: ~"min(1.03vw, 1rem)";
            height: auto;
        }

        .cs-picture-wrapper1 {
            height: auto;
            bottom: (121/16em);
        }

        .cs-picture-wrapper2 {
            height: auto;
            top: (104/16em);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #about {
            background-color: rgba(0, 0, 0, 0.2);

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-li,
            .cs-tag {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-li {
                opacity: 0.8;

                strong {
                    color: var(--bodyTextColorWhite);
                }
            }

            .cs-picture {
                border-color: var(--medium);
            }
        }
    }
}
             


/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #speed {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        overflow: hidden;

        .cs-container {
            /* changes to 1280px at tablet */
            max-width: (704/16rem);
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            max-width: (650/16rem);
            width: 100%;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: (20/16rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            /* 8px - 48px */
            padding: 0 clamp(0.5rem, 5vw, 3rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            grid-column: span 12;

            &:last-of-type {
                &:after {
                    display: none;
                }
            }

            &:after {
                /* content property isn't set until 768px, to hide the line on mobile */
                /* 120px - 200px */
                content: "";
                width: clamp(7.5rem, 14vw, 12.5rem);
                height: (90/16rem);
                background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/orange-dotted-line.svg");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                opacity: 1;
                display: none;
                position: absolute;
                top: 0;
                left: clamp(11.5rem, 24vw, 20rem);
            }
        }

        .cs-number {
            font-size: (20/16rem);
            font-weight: bold;
            width: (88/16rem);
            height: (88/16rem);
            /* 16px - 32px */
            margin-bottom: clamp(1rem, 4vw, 2rem);
            color: var(--primary);
            background-color: var(--primaryLight);
            border: 1px solid var(--primary);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-icon {
            width: (40/16rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: inherit;
            max-width: (413/16rem);
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #speed {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 4;

            &:after {
                display: block;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #speed {
            .cs-title,
            .cs-text,
            .cs-item-text,
            .cs-h3 {
                color: var(--bodyTextColorWhite);
            }

            .cs-number {
                color: var(--primaryLight);
                background-color: var(--medium);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }
        }
    }
}

/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (214/16rem);
            padding: 0 (32/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            /* 16px - 20px */
            gap: clamp(1rem, 1.8vw, 1.25rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-item {
            list-style: none;
            width: 100%;
            margin: 0;
            /* 24px - 40px top & Bottom */
            /* 16px - 32px left & right */
            padding: clamp(1.5rem, 3vw, 2.5rem) (24/16rem);
            background-color: #f7f7f7;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }

        .cs-package {
            /* 13px - 16px */
            font-size: clamp(0.8125rem, 1.4vw, 1rem);
            line-height: 1.2em;
            letter-spacing: 0.1em;
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            margin: 0 0 (8/16rem) 0;
            color: #767676;
            display: block;
        }

        .cs-price {
            /* 31px - 49px */
            font-size: var(--headerFontSize);
            line-height: 1.2em;
            text-align: center;
            font-weight: 900;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-ul {
            /* 20px - 25px */
            margin: clamp(1.25rem, 3vw, 1.5rem) 0 0 0;
            padding: clamp(1.25rem, 3vw, 1.5rem) 0 0 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (12/16rem);
            position: relative;

            &:before {
                /* divider Line */
                content: "";
                width: 100%;
                height: 1px;
                background: linear-gradient(
                    90deg,
                    rgba(232, 232, 232, 0.2) 0%,
                    #e8e8e8 53.78%,
                    rgba(232, 232, 232, 0.2) 100%
                );
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
            }
        }

        .cs-li {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            list-style: none;
            line-height: 1.5em;
            width: 100%;
            margin: 0;
            padding: 0;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: space-between;
            /* push everything to the top so if the li goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: (16/16rem);

            &.cs-disabled {
                opacity: 0.5;

                .cs-icon {
                    filter: grayscale(1) brightness(300%);
                }
            }
        }

        .cs-icon {
            width: (18/16rem);
            height: auto;
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #pricing {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            flex-wrap: nowrap;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #pricing {
            background-color: rgba(0, 0, 0, 0.2);
            .cs-title,
            .cs-text,
            .cs-package,
            .cs-li,
            .cs-price {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-item {
                background-color: var(--medium);
            }

            .cs-icon {
                /* makes icon white (if it wasnt black to start) */
                filter: grayscale(1) brightness(1000%);
            }

            .cs-button-solid {
                transition: color 0.3s;
                &:hover {
                    color: var(--primary);
                }

                &:before {
                    background-color: #fff;
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #work {
        padding: var(--sectionPadding);
        background-color: #FDFAF8;
        position: relative;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (704/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
        }

        .cs-card-group {
            width: 100%;
            max-width: (400/16rem);
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: (32/16rem);
        }
        
        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            grid-column: span 12;

            &:hover {
                .cs-picture {
                    &:before {
                        background-color: var(--primary);
                    }
                    img {
                        opacity: .3;
                    }
                }
            }
        }

        .cs-link {
            text-align: center;
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-picture {
            width: 100%;
            /* 240px - 340px */
            height: clamp(15rem, 30vw, 21.25rem);
            margin-bottom: (44/16rem);
            background-color: #000;
            display: flex;
            justify-content: center;
            position: relative;

            &::before {
                content: "";
                width: 100%;
                height: (20/16rem);
                margin: 0 (32/16rem);
                background-color: #E8E8E8;
                display: block;
                position: relative;
                top: 100%;
                bottom: 0;
                z-index: 10;
                transition: background-color .3s;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform .6s, opacity .3s;
            }
        }

        .cs-flex {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        .cs-number {
            /* 49px - 72px */
            font-size: (48/16rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--primary);
            opacity: 0.2;
            position: absolute;
            z-index: 0;
        }

        .cs-h3 {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0 0 (20/16rem) 0;
            color: var(--headerColor);
            z-index: 1;
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #work {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            max-width: none;
            /* 16px - 20px */
            column-gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-item {
            grid-column: span 4;
        }

        .cs-picture {
            margin-bottom: (52/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #work {
            background-color: rgba(0, 0, 0, .2);

            .cs-title, .cs-h3, .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-item-text {
                opacity: .8;
            }

            .cs-picture {
                &::before {
                    background-color: var(--medium);
                }
            }
        }
    }
}
                                                            

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews {
        /* Centers the button */
        text-align: center;
        padding: var(--sectionPadding);
        background-color: #FBF5F1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin-bottom: 0;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-solid {
            /* places it at the bottom of the container in the 3rd position */
            order: 3;
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            row-gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            /* 32px - 40px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(2rem, 5vw, 2.5rem) clamp(1rem, 4vw, 2rem);
            overflow: hidden;
            display: flex;
            align-items: center;
            flex-direction: column;
            align-items: flex-start;
            grid-column: span 12;
            position: relative;
            z-index: 1;

            &:before {
                /* background color */
                content: '';
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: .1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-wrapper {
            height: auto;
            width: auto;
            margin-bottom: (16/16rem);
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                width: 100vw;
                height: 2px;
                background: var(--primary);
                opacity: 1;
                position: absolute;
                display: block;
                top: 50%;
                left: calc(100% + 1rem);
                transform: translateY(-50%);
            }
        }

        .cs-info {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            /* 8px - 16px */
            gap: clamp(.8rem, 2vw, 1rem);
        }

        .cs-picture {
            width: (64/16rem);
            height: (64/16rem);
            border-radius: 50%;
            display: block;
            flex: none;
            position: relative;
            z-index: 1;
        }

        .cs-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }

        .cs-quote {
            width: (20/16rem);
            height: auto;
            margin-top: (-8/16rem);
            display: block;
        }

        .cs-item-text {
            font-size: (16/16rem);
            text-align: inherit;
            line-height: 1.5em;
            /* 32px - 40px */
            margin: 0 0 clamp(2rem, 4vw, 2.5rem);
            color: var(--bodyTextColor);
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-desc {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            font-weight: 400;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-content {
            display: flex;
        }

        .cs-card-group {
            flex-direction: row;
            /* 16px - 20px */
            column-gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-item {
            grid-column: span 4;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews {
            background-color: rgba(0, 0, 0, .2);
            .cs-title, .cs-item-text, .cs-name, .cs-desc {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                &:before {
                    background-color: #000;
                    opacity: .2;
                }
            }

            .cs-picture {
                &:before {
                    opacity: .5;
                }
            }

            .cs-desc {
                opacity: .8;
            }
        }
    }
}
     

/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #service-area {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(2.5rem, 6vw, 4rem);
        }

        .cs-picture {
            width: 100%;
            height: clamp(25rem, 80vw, 47rem);
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (630/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            justify-content: center;
        }

        .cs-title {
            /* 26 characters wide including spaces */
            max-width: 26ch;
            margin: 0;
        }

        .cs-card-group {
            width: 100%;
            /* 550px - 630px */
            max-width: clamp(34.375rem, 50vw, 39.375rem);
            padding: 0;
            /* 24px - 40px */
            margin: clamp(1.5rem, 4vw, 2.5rem) 0 clamp(1.75rem, 4vw, 2.5rem) 0;
            display: grid;
            align-items: center;
            gap: clamp(1rem, 4vw, 2.5rem);
        }

        .cs-item {
            list-style: none;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .wrapper {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: (10/16rem);
        }

        .cs-item-number {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--primary);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (8/16rem);
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (8/16rem);
        }

        .cs-item-text {
            font-size: (14/16rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-ul {
            width: 100%;
            margin: 0 0 (24/16rem) 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-li {
            font-size: var(--bodyFontSize);
            list-style: none;
            line-height: 1.5em;
            width: 100%;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            /* push icon top the top so if the list item goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: (8/16rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            line-height: 3.5em;
            text-decoration: none;
            font-weight: 700;
            overflow: hidden;
            width: auto;
            margin: 0;
            color: #fff;
            padding: 0 (48/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: #1a1a1a;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: var(--primary);
            }

            &:hover:before {
                width: 100%;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #service-area {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }
        .cs-content {
            width: 50%;
            max-width: (630/16rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }
        .cs-card-group {
            grid-template-columns: repeat(12, 1fr);
        }
        .cs-item {
            grid-column: span 6;
        }
        .cs-picture {
            height: auto;
            min-height: (525/16rem);
            /* sends it to the right in the 2nd position */
            order: 2;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #service-area {
        .cs-content {
            padding: (84/16rem) 0;
            align-self: center;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #service-area {
            .cs-topper {
                color: var(--primary);
            }

            .cs-title,
            .cs-li,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-li,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-h3 {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}


                                
                                